* {
  box-sizing: border-box;
}

header {
  background-color: #120323;
}

h1 {
  color: #97bf04;
}

h2 {
  color: #120323;
}
aside {
  background-color: #97bf04;
}

footer {
  background-color: #d9043d;
}
