* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
}

.header-container {
  background-color: #120323;
  text-align: center;
}

h1 {
  color: #97bf04;
}

h2 {
  color: #120323;
}

aside {
  background-color: #97bf04;
}

footer {
  background-color: #d9043d;
}
